body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffe9e9;
}

h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    padding: 10px;
    font-family: "Garamond", serif;
    color: #ae0d0d;
}

th {
    background-color: rgb(251, 157, 173);
    border-radius: 5px;
}

tr {
    background-color: #f7eeee;
    align-items: flex-start; /* prevents vertical stretching */
    height: 50px;           /* fixed row height */

}

a:link, a:visited {
    color: #861b1b;
}

#preview {
    border: 2px solid #861b1b;
}

.image-area {
    width: 300px;
    height: 100%;
    overflow-y: auto;
}  
.nav-button {
    display: inline-block;
    align-items: center;
    justify-self: center;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgb(251, 157, 173);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.container {
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 50px;
}

.container2 {
    display: flex;
    align-items: flex-start;
    gap: 20px;

}

.box-container {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 20px;
}

.box {
    padding: 20px;
    width: 100px;
    text-align: center;
}

.upload-section {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #000;
    padding: 10px;
    width: 75%;
    align-items: center;
    background-color: #f7eeee;
    
}

.data-table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #000;
}

.data-table th, .data-table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.cell-input {
  width: 95%;
  padding: 6px;
  border: 1px solid #000;
  border-radius: 4px;
}